{{> head}}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Son Goku</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni qui autem distinctio at magnam deleniti cumque porro alias quibusdam a, dignissimos nihil dolore consectetur praesentium totam facilis. Quo, mollitia veritatis?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/images.jpg" class="img-thumbnail"/>
        </div>
    </div>

{{> footer}}